*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
}

article{
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 15px;
    width: 100%;
    height: 100vh;
    color: white;
    line-height: 3em;
}


/*********** article background structure************/

article:nth-child(1){
    background-position: 0% 0px;
    background-size: auto;
    position:relative;
    background: url(images/forestry.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-repeat: no-repeat;
}

article:nth-child(2){
    background-color: green;
}

article:nth-child(3){
    background-color: #CE9DD9;
}

article:nth-child(4){
    background-color: maroon;
}

article:nth-child(5){
    background-size: 100%;
    position:relative;
    background: url(images/deforestation.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

article:nth-child(6){
    background-color: #96B6C5;
}

article:nth-child(7){
    background-size: 100%;
    position:relative;
    background: url(images/deforestation.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* article:nth-child(8){
} */

article:nth-child(9){
    background-color: #f0dc82;
}

article:nth-child(10){
    background-color: white;
}

article:nth-child(11){
    background-color: #cbc4aa;
}




/*********** interaction effect structure ************/

/***** Parallax 2 and 6 *****/
#button1, #button2{
    padding: 15px;
    font-family: 'Spartan', sans-serif;
    background-color: whitesmoke;
    color: darkslategray;
    font-size: 15px;
}

#button1:hover,#button2:hover{
    background-color: #848583;
    color: white;
    font-weight: bold;
}

.answer2, .answer6{
    text-align: left;
    line-height: 1.4em;
    font-size: 15px;
    padding-top: 20px;
    color: whitesmoke;
}

/***** Parallax 3 *****/

/*** items ***/

#parallax3{
    display: flex;
    flex-direction: row;
    text-align: center;
}


#parallax3 img {
height: 25vh;
width: auto;
transition: transform .2s;
justify-content: space-evenly;
padding: 10px 20px;
}


#parallax3 section img:hover {
transform: scale(1.1);
}

h2 {
    text-align: center;
    font-size: 3em;
}

/*** overlay section ***/

h3{
    font-size: 2em;
    line-height: 1.6em;

}

p{
    width: 600px;
    line-height: 1.3em;
    font-size: 15px;

}

#tissueoverlay, #bookoverlay, #deskoverlay, #houseoverlay {
    color: darkslategray;
    padding: 10% 10%;
    position: absolute;
    top: 90em;
    left: 20%;
    right: 0;
    height: 60%;
    width: 60%;
    display: none;
    border-radius: 20px;
    text-align: center;
}


#tissueoverlay, #bookoverlay, #deskoverlay, #houseoverlay {
    background-color: rgba(254, 254, 255, .8);
}

#tissueclose, #bookclose, #deskclose, #houseclose {
    position: absolute;
    top: 4em;
    right: 4em;
    font-size: 1.6em;
}


/***** Parallax 7 *****/

#parallax7 h1{
    color: darkslategray;
    text-align: center;
    font-size: 2em;
    position: absolute;
}

/***** Parallax 8 *****/

iframe{
    border-radius: 15px;
    width: 60%;
    height: 250px;
    border: 3px solid white;
    padding-top: 20px;
}


#parallax8{
    display:flex;
    flex-direction: column;
}

#parallax8 h1 {
text-align: center;
font-size: 3em;
}

/***** Parallax 9 *****/
#parallax9{
    color:#F26321;
    text-align: center;
    font-size: 1.5em;
}

/***** Parallax 10 *****/

#parallax10 img{
    width: 80%;
    height: 80%;
}

#parallax10 h1 {
    padding-top: 20px;
    color: darkslategray;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    width: 400px;
    
}

#parallax10{
    padding: 20px;
    display:flex;
    flex-direction: column;
}

/*********** portal page button ************/
.portal{
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-align: center;
    display: block;
    background-color: darkslategray;
    padding: 10px;
}

.portal:hover{
    background-color: gray;
}

/*********** top button ************/

#topbutton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #topbutton:hover {
    background-color: #555;
  }

/*********** source ************/

/* .source {
    color:  #ff6961;
    font-weight: bold;
}

.source:hover {
    color: white;
    background-color: #ff6961;
  }

#sourceoverlay {
    color: darkslategray;
    padding: 10% 10%;
    position: relative;
    height: 60%;
    width: 60%;
    display: none;
    top: 300em;
    left: 0;
    border-radius: 20px;
    text-align: center;
}
 */
/*********** footer ************/

.footer a, .footer p{
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 11px;
    color: black;
    text-align: left;
}


footer{
    padding: 30px 0px 40px 40px;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: white;

}

.footer a:hover {
    color: darkslategray;
    font-weight: bold;
}

/*********** different media structure ************/

@media only screen and (max-width: 600px) {


    .answer2{
        font-size: 15px;
        width: 300px;
    }
    #parallax4{
        text-align: center;
    }

    .answer6{
        font-size: 15px;
        width: 300px;
    }

    section{
        padding-left: 1.5em;
    }

    #tissueoverlay, #bookoverlay, #deskoverlay, #houseoverlay {
        padding: 15% 10%;
        width: 70%;
        height: 80%;
        top: 90em;
    }

    #tissueclose, #bookclose, #deskclose, #houseclose {
        top: 1em;
        right: 2em;
        font-size: 1.6em;
    }
    

    p{
        width: 250px;
        font-size: 1em;
    }

    .answer2, .answer6{
        text-align: left;
        width: 400px;
    }

    h4{
        font-size: 1.3em;
        text-align: center;
    }

    
}
 