body {
    margin-top: 1.5em;
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 1em;
    line-height: 1.5em;
    background: white;
}

article{
    max-width: 800px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

header{
    border-bottom: 2px solid black;
    padding: 0;
    display:flex;
}

div{
    flex: 1;
}

/*********** Navigation Styles ************/

.menu {
    background-image: url("images/menu.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    padding-left: 500px;
}

.dropdown-content{
    display: none;
    position: absolute;
    right: 0;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: white;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(224, 206, 91);;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/*********** Typography ************/

h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    line-height: 1px;
    padding-top: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(112, 176, 177);
    padding-left: 50px;
}


h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    font-weight: bold;
}
 
section p{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.3em;
    color: slategray;
    text-align: left;
}

.citation a{
    color: slategray;
}


/*********** Image ************/
img {
	margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-left: 90px;
    max-width:70%;
    height:auto;
}

/*********** Footer ************/

.footer a, p{
    text-decoration: none;
    list-style-type: none;
    text-align: right;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: 'Jaldi', sans-serif;
    color: black;
}

footer{
    padding:20px 50px 0 0;
    border-top: 2px solid black;
    background-color: white;
}

.footer a:hover {
    color: rgb(224, 206, 91);
}

/*********** Link Source ************/

.site{
    text-decoration: none;
    list-style-type: none;
    text-align: right;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: 'Jaldi', sans-serif;
    color: slategray;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-position: under;
    text-decoration-color: slategray;
}
.site a:hover {
    color: rgb(224, 206, 91);
}

#comparativemain{
    padding-bottom: 30px;
    padding-top: 30px;
}
