
/*********** Main Structure ************/
body {
    font-family: 'Noto Sans JP', sans-serif;
    background: white;
}

header{
    padding-bottom: 10px;
}

img {
	margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    max-width:100%;
    height:auto;
}

.main {
    margin-left: 100px;
    font-size: 15px; 
    padding-top: 20px;
    padding-bottom: 100px;
  }
  

/*********** Navigation ************/
.nav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: rgb(112, 176, 177);
    overflow-x: hidden;
    padding: 8px 0;
    
  }
  
  .nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }
  
  .nav a:hover {
    color: darkslategray;
  }
  
 
/*********** Typography ************/

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 2px;
    padding-top: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(112, 176, 177);
    text-align: center;
    padding-left: 50px;
}
 
h2 {
    font-weight: 800;
    font-size: 1.5em;
    font-style: italic;
    text-align: left;
    padding-left: 0;
    
}

p{
    color: darkslategray;
    line-height: 1.3em;
    font-size: 16px;
    font-weight: 400;
    text-align: left;

}

article{
    max-width: 700px;
    margin: auto;
    padding: 10px 0px 20px 10px;
}

article a:hover {
    color: rgb(224, 206, 91);
}

aside a, aside p, .citation a, .citation p{
    color: darkslategray;
    line-height: 1.3em;
    text-decoration: none;
    list-style-type: none;
    font-weight: 400;
    text-align: left;
}

aside a, aside p{
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 10px;

}

.citation a, .citation p{
    font-size: 16px;
    padding-right: 10px;
}


/*********** Footer ************/

.footer a {
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 14px;
    color: white;
    font-weight: 400;
}

.footer{
    padding: 30px 50px 20px 10px;
    background-color: rgb(112, 176, 177);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align: center;

}


.footer a:hover {
    color: black;
    font-weight: bold;
}


@media screen and (max-height: 450px) {
    .nav {padding-top: 15px;}
    .nav a {font-size: 18px;}
  }
