* {
	margin: 0; 
	padding: 0;
}

/*********** Main Structure ***********/

header {
    background-color: rgb(112, 176, 177);
    padding: 30px 30px 30px 30px;
    text-align: center;
}

body{
    background: white;
}


div{
    width: 1000px;
	padding: 10px;
	margin: auto;
	display: block;
    align-content: center;
    background-color: white;
}

h3{
    width: 1000px;
	padding: 20px;
	margin: auto;
	display: block;
    align-content: center;
    text-align: left;
    
}
/*********** Typography *************/

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: 4px;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
}

h2 {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    color: white;
    border-color: white;
}

h3 {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 700;
    font-size: 16pt;
    color: rgb(224, 206, 91);
    margin-bottom: 5px;
    padding-right: 30px;
    text-align: left;
}

.paragraph p{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color:#555;
    text-align: justify;
    line-height: 1.5em;
}

.citations p{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color: #555;
    text-align: left;
    line-height: 1.5em;
}

/************** footer ************/
.link {
    background-color: rgb(112, 176, 177);
    padding: 20px;
}

.link a,p{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 3em;
    letter-spacing: 2px;
}

.link a:hover {
    color: #555;
}

/************ navigation **************/
nav {
    margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

nav ul li {
	list-style-type: none;
	display: inline;
}

nav ul li a {
    text-decoration: none;
    background-color: rgb(112, 176, 177);
	font-size: 16px;
	color: white;
	display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 400;
	display: inline;
    margin-left: 10px;
    margin-right: 10px;
    border: solid;
}

nav ul li a:hover {
    font-weight: 400;
    background-color: gray;
    color: whitesmoke;
    border-color: whitesmoke;


